@page "/"
@inherits KooliProjekt.BlazorApp.Pages.Home

<PageTitle>Panels</PageTitle>

<h1>Panels</h1>

<p>Here are the panels.</p>

@if (panels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><a class="btn btn-primary" href="/create">Add new</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>UnitCost</th>
                <th>Manufacturer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var panel in panels)
            {
                <tr>
                    <td>@panel.Name</td>
                    <td>@panel.Unit</td>
                    <td>@panel.UnitCost</td>
                    <td>@panel.Manufacturer</td>
                    <td>
                        <a href="/edit/@panel.Id" class="btn btn-primary">Edit</a>
                        <button class="btn btn-primary" @onclick="() => Delete(panel.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

